# Compiled Object files
game
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# CMake files
build/
Makefile
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Swapfiles
.*.swp
.*.swo
